/* Declarations for my color variables */
:root {
  --primary-color: #357b70;
  --secondary-color: #05676e;
  --tertiary-color: #489c79;
  --text-color: #fff;
  --background-color: #lightgray;
  --font-weight: 500;
}

/* Sets default width of all elements to include border */
* {
  box-sizing: border-box;
}

/* Body styles*/
body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  font-weight:  300;
  font-size:  16px;
  line-height: 1.6;
}

/* Header style */
h1 {
  font-size: 30px;
  font-weight: var(--font-weight);
}
h2 {
  font-size: 24px;
  font-weight: var(--font-weight);
}
h3 {
  font-size: 22px;

}
h4 {
  font-size: 20px;
  font-weight: var(--font-weight);
}

a {
  color: var(--primary-color);
}

a:visited {
  /*visited link*/
  color: var(--secondary-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /*selected link */
  color: var(--tertiary-color);
}

/*li information*/
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #darkgray;
}

.page-header{
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 100px 30px 30px;
  }

.profile__portrait {
  float: left;
  width: 200px;
  margin-right: 40px;
  border-radius: 50%;
  }

.about {
  max-width: 700px;
  margin: 20px auto;
  text-align: left;
  }

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 10px 30px 30px 30px;
}

.grid__item {
  background-color: var(--tertiary-color);
  padding: 20px
}

.page-footer {
  position: absolute;
  flex-grow: row;
}

.contact-info {
  padding: 10px 70px;
}

.contact-form  {
  padding: 100px 70px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
}
  50% {
    fill: #f7e0a7;
  }
  100% {
    fill: #e6b12e
  }
}
.sun {
  animation: 15s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.st6 {
  animation: 30s cloud-move infinite alternate linear;
}
.st7 {
  animation: 45s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100ps, 48px);
  }
}
.st8 {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 550px) and (max-width: 750px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .project-grid {
    grid-gap: 10px;
  }
}
